* {
  box-sizing: border-box;
  margin:  0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3",
               "Hiragino Kaku Gothic Pro",
               "メイリオ",
               Meiryo,
               sans-serif;
  color: #666;
}

ffp {
}
