ffp-loading {
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: rgba(0, 0, 0, .3);

    > p {
      position: absolute;
      top: 50%;
      margin: auto;
      width: 100%;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }
  }
}
